get data
define re pattern for 'XMAS' and 'SAMX'
init a score
define a function of df that
    init a temp_score
    loop through rows
        apply re pattern to each row
        record result into a list
        add length of list to a temp_score
        return temp_score
apply function to df and df.T and add to score

define a function of df that 
    init a temp_score
    loop through rows
        apply re pattern to each row in diagonal
        record result into a list
        add length of list into temp_score
        
        loop through columns starting at 1
        apply re pattern to each column in diagonal
        record result into a list
        add length of list into temp_score
    return tem_score
apply function to df and df flipped and add to score

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
# get data
data = pd.read_csv("Sample.txt", header=None)
data = data.iloc[:,0].apply(lambda x : list(x))
data = pd.DataFrame([data[i] for i in list(data.index)])
data

   0  1  2  3  4  5  6  7  8  9
0  M  M  M  S  X  X  M  A  S  M
1  M  S  A  M  X  M  S  M  S  A
2  A  M  X  S  X  M  A  A  M  M
3  M  S  A  M  A  S  M  S  M  X
4  X  M  A  S  A  M  X  A  M  M
5  X  X  A  M  M  X  X  A  M  A
6  S  M  S  M  S  A  S  X  S  S
7  S  A  X  A  M  A  S  A  A  A
8  M  A  M  M  M  X  M  M  M  M
9  M  X  M  X  A  X  M  A  S  X

In [3]:
# define re pattern for 'XMAS' and 'SAMX'
pattern = "('XMAS'|'SAMX')"

In [4]:
txy = 'qsdXMASekfjqqhskqdSAMXazfd'
result = re.finditer(pattern, txy)
for match in result:
    print(match.groups())

In [5]:
import re

# Exemple de texte
txy = 'qsdXMASekfjqqhskqdSAMXazfd'

# Exemple de motif (à définir)
pattern = r"(XMAS|SAMX)"

# Utiliser re.finditer
result = re.findall(pattern, txy)

AttributeError: 'str' object has no attribute 'group'

In [6]:
result

['XMAS', 'SAMX']