get input and parse to DataFrame
for number 0 to 9 get links (the x,y coordinates as a tuple of each occurrence of number)
initiate an in_list with the '0' links
initiate an empty out_list
for number i ranging from 0 to 9 :
    for each chain in in_list 
        for each link in links[i+1]
            if x from end of chain and link is the same 
            and their y have a 1 difference 
            or 
            if y from end of chain and link is the same 
            and their x have a 1 difference 
            add link to chain as a tuple 
            and add chain to the out_list
            else continue
        reinitiate in_list as out_list
display length of out_list

In [1]:
import numpy as np
import pandas as pd

In [2]:
# get input and parse to DataFrame
input = open("Sample.txt").read().split('\n')
input = pd.DataFrame([list(x) for x in input])
input = input.astype('int')
input

   0  1  2  3  4  5  6  7
0  8  9  0  1  0  1  2  3
1  7  8  1  2  1  8  7  4
2  8  7  4  3  0  9  6  5
3  9  6  5  4  9  8  7  4
4  4  5  6  7  8  9  0  3
5  3  2  0  1  9  0  1  2
6  0  1  3  2  9  8  0  1
7  1  0  4  5  6  7  3  2

In [3]:
# for number 0 to 9 get links (the x,y coordinates as a tuple of each occurrence of number)
links = {}
for number in range(0,10,1):
    links[number] = tuple(zip(*(np.where(input.values==number)[0], np.where(input.values==number)[1])))

In [4]:
# initiate an in_list with the '0' links
in_list = [[xy] for xy in links[0]]
in_list

[[(0, 2)],
 [(0, 4)],
 [(2, 4)],
 [(4, 6)],
 [(5, 2)],
 [(5, 5)],
 [(6, 0)],
 [(6, 6)],
 [(7, 1)]]

In [5]:
# initiate an empty out_list
out_list = []

In [6]:
# for number i ranging from 0 to 9 :
for i in range(0,9):
    # for each chain in in_list :
    for chain in in_list:
        # for each link in links[i+1]
        for link in links[i+1]:
            #if x from end of chain and link is the same 
            #and their y have a 1 difference 
            #or 
            #if y from end of chain and link is the same 
            #and their x have a 1 difference 
            #add link to chain as a tuple
            condition = ((chain[::-1][0][0] == link[0]) and (chain[::-1][0][1] - link[1]) == 1) or ((chain[::-1][0][1] == link[1]) and (chain[::-1][0][0] - link[0]) == 1)
            if condition:
                chain.append(link)
                #and add chain to the out_list
                out_list.append(chain)
            #else continue
            else:
                continue
          # reinitiate in_list as out_list
in_list = out_list
# display length of out_list
len(out_list)

21

In [7]:
out_list

[[(0, 4), (0, 3)],
 [(2, 4), (1, 4), (1, 3)],
 [(6, 6), (5, 6)],
 [(7, 1), (6, 1), (5, 1), (5, 0), (4, 0), (3, 0)],
 [(2, 4), (1, 4), (1, 3)],
 [(5, 2), (5, 1), (5, 0), (4, 0), (3, 0)],
 [(7, 1), (6, 1), (5, 1), (5, 0), (4, 0), (3, 0)],
 [(5, 2), (5, 1), (5, 0), (4, 0), (3, 0)],
 [(6, 0), (5, 0), (4, 0), (3, 0)],
 [(7, 1), (6, 1), (5, 1), (5, 0), (4, 0), (3, 0)],
 [(5, 2), (5, 1), (5, 0), (4, 0), (3, 0)],
 [(6, 0), (5, 0), (4, 0), (3, 0)],
 [(7, 1), (6, 1), (5, 1), (5, 0), (4, 0), (3, 0)],
 [(4, 6), (3, 6), (3, 5), (2, 5)],
 [(4, 6), (3, 6), (3, 5), (2, 5)],
 [(0, 2), (0, 1)],
 [(4, 6), (3, 6), (3, 5), (2, 5)],
 [(5, 2), (5, 1), (5, 0), (4, 0), (3, 0)],
 [(5, 5), (4, 5)],
 [(6, 0), (5, 0), (4, 0), (3, 0)],
 [(7, 1), (6, 1), (5, 1), (5, 0), (4, 0), (3, 0)]]